body {
    font-family: Arial;
    background-color: black;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    color: white;
}

.wd-container {
    margin-left: 16px;
}

.wd-search {
    height: 30px;
    margin-top: 12px;
}

.wd-search>.wd-gear {
    color: rgb(29, 161, 242);
    margin-right: 12px;
    float: right;
    font-size: 30px;
    text-decoration: none;
}

input {
    background-color: darkgrey;
    border-radius: 50px;
    width: 90%;
    height: 100%;
    flex: 1;
    position: relative;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-navigation-tab {
    padding: 0px;
}

.wd-navigation-tab li {
    color: rgb(110, 118, 125);
    padding: 16px;
    font-size: 15px;
    display: inline-block;
}

.wd-navigation-tab .wd-active {
    color: rgb(29, 161, 242);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 16px
}

.wd-divider-line {
    border-color: rgb(110, 118, 125);
}

.wd-tweet-heading-grey {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tweet-heading-white {
    font-size: 13px;
}


.wd-tweet-padding {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wd-image {
    border-radius: 20px;
    margin-right: 16px;
    height: 100px;
    width: 100px;
    float: right;
}

.wd-image-sm {
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.wd-float-tweet {
    float: left;
}

.wd-float-tweet-right {
    float: right;
    color: rgb(110, 118, 125);
    margin-right: 16px;
}

.wd-float-clear {
    clear: both;
    padding-bottom: 10px;
}

.wd-title {
    margin-bottom: 0px;
}