body {
    font-family: Arial;
    background-color: black;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-title {
    color: white;
    font-size: 20px;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.wd-handle {
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-top: 0px;

}

.wd-dot-blue {
    float:right;
    color: rgb(29, 161, 242);
    margin-right: 16px;
}

.wd-dot-grey{
    float: right;
    color: rgb(110, 118, 125);
    margin-right: 16px;
}
.wd-float-left{
    float: left;
}
.wd-float-clear {
    clear: both;
}
.wd-profile-img {
    border-radius: 50%;
    margin-left: 16px;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 12px;
}


.wd-author-name {
    margin-left: 12px;
    margin-top: 12px;
    font-size: 15px;
    float: left;
    color: white;
}

.wd-author-handle {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-content {
    color: white;
    font-size: 15px;
    margin-right:16px;
    width: 506px;
}

.wd-border-content {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-radius: 12px;
    padding: 0px;
    width: 504px;
    margin-top: 12px;
}

.wd-border-content-img{
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wd-border-content-text {
    font-size: 15px;
    margin-top: 12px;
    padding-left: 12px;
    margin-bottom: 0px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.wd-border-content-text .title {
    color: white;
    margin: 0px;
}
.wd-border-content-text .content {
    color: rgb(110, 118, 125);
    margin: 0px;
}

.wd-divider-line {
    border-color: rgb(110, 118, 125);

}

.wd-icons-div {
    margin-top: 12px;
    margin-bottom: 12px;
}

.wd-icon {
    color: rgb(110, 118, 125);
    text-decoration: none;
    margin-right: 12px;
    height: 12px;
    width: 12px;
    margin-left: 12px;
}

.wd-icon-text {
    color: rgb(110, 118, 125);
    margin-right: 100px;
}

.wd-red {
    color: red;
    text-decoration: none;
}